
@font-face {
    font-family: 'Barlow Regular';
    src: url(./fonts/Barlow-Regular.ttf) format('truetype');
    // font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bellefair Regular';
    src: url(./fonts/Bellefair-Regular.ttf) format('truetype');
    // font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}


/// color variables

$color--blue: #0B0D17;
$color--blue-light: #D0D6F9;
$color--white: #FFFFFF;


//// font variables

$font--Barlow: "Barlow Regular";
$font--Bellefair: "Bellefair Regular";


///////// 


$transition: 0.3s;

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-gen {
    width: fit-content;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.display-none {
    display: none;
}   


.navigation--closed {
    transform: translateX(100%);
}





body {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    .main-header {
        @include flex-row();
        justify-content: space-between;
        padding: 24px;
        box-sizing: border-box;
        position: relative;
        overflow-x: clip;

        .logo {
            width: 40px;
            height: 40px;
        }

        .navigation {
            background-color: rgba($color--white, 0.1);
            backdrop-filter: blur(15px);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            width: 60%;
            height: 100vh;
            text-align: left;
            padding-top: 130px;
            padding-left: 22px;
            box-sizing: border-box;

            .header--dec-line {
                display: none;
            }

            .navigation--list {
                @include flex-column();
                align-items: start;
                gap: 40px;
                text-transform: uppercase;
                font-family: $font--Barlow;

                li {
                    border-right: 3px solid none;
                    box-sizing: border-box;
                    width: 100%;
                    cursor: pointer;
                    transition: all $transition;

                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        gap: 14px;
                        color: $color--white;
                        letter-spacing: 2px;
                        font-size: 16px;
                        .section--number {
                            font-weight: bold;
                        }
                    }

                    &:first-child {
                        border-right: 3px solid $color--white;
                    }

                    &:hover{
                        border-right: 3px solid $color--white;
                    }
                }
            }
        }

        .close-open-btns {
            z-index: 1;
            .btn--menu {
                img  {
                    width: px;
                    height: 24px;
                }
            }
        }
    }



}







